[submodule "Simple-Black-Box-Adversarial-Perturbations-for-Deep-Networks"]
	path = Simple-Black-Box-Adversarial-Perturbations-for-Deep-Networks
	url = git@github.com:iamgroot42/Simple-Black-Box-Adversarial-Perturbations-for-Deep-Networks.git
