dropbox_uploader.sh
*.tar.gz
ProxyUnlabelledData/*
YOURMOM
cifarexps/*
NEW*
IntelliCNN*
Models/*
LOG*
AUTO
AEC
BM*
*.npy
NIGHTLOG*
EnsembleScale/*
EnsembleRotate/*
EnsembleTranslate/*
no*
yes*
2017*
*BAG_SETUP*
Uniform/*
Adaptive/*
Proxy/*
*MNIST*
*CIFAR*
*SVHN*
hacky.sh
ORDER?
[0-9]*model
